@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


body {
  font-family: Freesentation-9Black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}


h1, h2 {
  color: #333;
}

p {
  color: #555;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  color: #555;
}

#cert-result {
  margin-top: 10px;
}

.hidden {
  display: none;
}




.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* 컨테이너의 최대 너비 설정 */
  width: 90%; /* 화면 폭에 맞게 컨테이너의 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.certification-input {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.certification-input input {
  flex: 1; /* 입력 상자가 가능한 최대 공간을 차지하도록 설정 */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.certification-input button {
  padding: 10px 15px; /* 버튼의 패딩을 조정합니다. */
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.certification-input button:hover {
  background-color: #555;
}


